
<div class="col-sm-12">
  <div class="card">
    <div style= "text-align: center;" class="card-header">L-Tech Templates</div>
    <div class="card-body">
      <dynamic-form-builder [fields]="getFields()"></dynamic-form-builder>
      <!-- <div [formGroup]="form">
        <input *ngIf="!field.multiline" [attr.type]="field.type" class="form-control" [(ngModel)]="names" (keyup)="testFunction()"  [id]="field.name" [name]="field.name" [formControlName]="field.name">
        <textarea *ngIf="field.multiline" [class.is-invalid]="isDirty && !isValid" [formControlName]="field.name" [id]="field.name"
        rows="9" class="form-control" [placeholder]="field.placeholder"></textarea>
      </div>  -->
    </div>
  </div>
</div>

<div class="col-sm-12">
 <div style="user-select: none;border: solid;
height: 350px;
width: 300px;
background: aliceblue;
padding: 15px 15px 15px 15px;
font-size: 18px;" class="form-group" id = 'previewContainer'>
	<div id="background">
  <p id="bg-text">LegalTech</p>
	</div>
  <div id = "htmlContainer">
    <div>This is a sample preview.</div>
    <br>
    <div style="color:red">First party name is <em id = 'first_party_name'>_____</em> </div>
    <div *ngIf = "fields[1].value.length > 0" style="color:blue">Second party name is <em id = 'second_party_name'>_____</em></div>
    <div *ngIf = "fields[2].value.length > 0">Email is <em id = 'email_id'></em> </div>
    <br>
    <div>End of content.</div>
  </div>
  </div>
</div>
<button (click) = "getContent()">Copy HTML Content</button>
_____________________________________
<!-- <div class="col-sm-12">
 <div class="form-group" [formGroup]="form">
    <label>JSON</label>
    <textarea formControlName="fields" class="form-control" rows="3"></textarea>
  </div>
</div>
 -->

