
<div class="col-sm-12">
  <div class="card">
    <div style= "text-align: center;" class="card-header">L-Tech Templates</div>
    <div class="card-body">
      <dynamic-form-builder [fields]="getFields()"></dynamic-form-builder>
      <!-- <div [formGroup]="form">
        <input *ngIf="!field.multiline" [attr.type]="field.type" class="form-control" [(ngModel)]="names" (keyup)="testFunction()"  [id]="field.name" [name]="field.name" [formControlName]="field.name">
        <textarea *ngIf="field.multiline" [class.is-invalid]="isDirty && !isValid" [formControlName]="field.name" [id]="field.name"
        rows="9" class="form-control" [placeholder]="field.placeholder"></textarea>
      </div>  -->
    </div>
  </div>
</div>

<div class="col-sm-12">
 <div class="form-group" id = 'previewContainer'>
    <div>This is a sample text.</div>
    <div *ngIf = "fields[0].value.length > 0" style="color:red">First party name is <em id = 'first_party_name'></em> </div>
    <div *ngIf = "fields[1].value.length > 0" style="color:blue">Second party name is <em id = 'second_party_name'></em> </div>
    <div *ngIf = "fields[2].value.length > 0">Email is <em id = 'email_id'></em> </div>
    <div>More content.</div>
  </div>
</div>
<button (click) = "getContent()">Get content</button>
_____________________________________
<div class="col-sm-12">
 <div class="form-group" [formGroup]="form">
    <label>JSON</label>
    <textarea formControlName="fields" class="form-control" rows="3"></textarea>
  </div>
</div>


